.list__pages{
    width: 400px;
    display: flex;
}
.pagination{
    align-items: center;
    display: flex;
}
span.arrow{
    font-size: 33px;
    display: block;
    font-family: monospace;
}
.list__pages span{
    width: 20px;
}